label {
  margin-right: 20px;
}

input {
  width: 5%;
}

.invalid {
  border: 1px solid #FF0000;
  color: #FF0000;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.btn {
  margin-left: 10px;
  margin-right: 10px;
}

#loader.show {
  display: inline-flex;
  position: relative;
  top: 8px;
  left: 0;
}

@keyframes spin {
  from { -webkit-transform: rotate(0deg); }
  to { -webkit-transform: rotate(360deg); }
}

#loader.show {
  visibility: visible;
}

#loader.hide, #resultArea.hide {
  display: none;
}

#resultArea.show {
  visibility: visible;
  font-weight: bold;
  text-decoration: underline;
}

#resultArea.error {
  color: red;
}

#alert.hide {
  visibility: hidden;
}

#alert.show {
  visibility: visible;
  font-size: 12px;
  width: 165px;
  position: absolute;
  left: 50px;
}