/* Fibonacci Calculator Styling */
label {
  margin-right: 20px;
}

input {
  width: 5%;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.btn {
  margin-left: 10px;
  margin-right: 10px;
}

#resultArea {
    font-weight: bold;
    text-decoration: underline;
}
